<section class="bg-primary" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <h2 class="section-heading">Hi, I’m Juan. Nice to meet you.</h2>
        <hr class="light" />
        <p class="text-faded">
          Since beginning my journey as a QA Automation Engineer nearly 7 years ago, I've helped different companies implementing
          and maintaining QA systems for their products. I'm quietly confident, naturally curious, and perpetually
          working on improving my technical skills.
        </p>
        <!-- <a href="#services" class="btn btn-default btn-xl">Get Started!</a> -->
      </div>
    </div>
  </div>
</section>
