<section id="services">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">At Your Service</h2>
        <hr class="primary" />
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box">
          <i class="fa fa-4x fa-desktop wow bounceIn text-primary"></i>
          <i class="fa fa-4x fa-mobile wow bounceIn text-primary"></i>
          <h3>Web and Mobile</h3>
          <p class="text-muted">
            Plan and implement automation systems for web and mobile (iOS and
            Android)
          </p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box">
          <i
            class="fa fa-4x fa-cogs wow bounceIn text-primary"
            data-wow-delay=".1s"
          ></i>
          <h3>API testing</h3>
          <p class="text-muted">
            Implement API software validation using custom frameworks or
            Postman.
          </p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box">
          <i
            class="fa fa-4x fa-line-chart wow bounceIn text-primary"
            data-wow-delay=".2s"
          ></i>
          <h3>Performance</h3>
          <p class="text-muted">
            Create stress tests against servers using gatling or artillery.
          </p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box">
          <i
            class="fa fa-4x fa-cloud wow bounceIn text-primary"
            data-wow-delay=".3s"
          ></i>
          <h3>CI/CD Pipeline</h3>
          <p class="text-muted">
            Plan and maintain infrastructure for running tests (Jenkins, AWS,
            GCLoud)
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
